.fe--bar {
  display: inline-block;
  width: 24px;
  height: 30px;
  position: relative;
  left:0.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' fill-rule='evenodd' d='M3 16h18v2H3zm0-5h18v2H3zm0-5h18v2H3z'/%3E%3C/svg%3E");
}
.fe--bar:hover{background-color: #E5E5E5;

}